@font-face {
  font-family:"akrobat regular";
  src: url("../fonts/Akrobat-Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"akrobat black";
  src: url("../fonts/Akrobat-Black.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"os light-italic";
  src: url("../fonts/open sans light italic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"peace sans";
  src: url("../fonts/Peace Sans Webfont.ttf") format("truetype");
  src: url("../fonts/Peace Sans.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"akrobat light";
  src: url("../fonts/Akrobat-Light.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}