@media all {
  body {
    display: block;
    height: 100%;
    &::-webkit-scrollbar{
      width: 0;
      position: absolute;
      right:0;
      top:0;
    }
  }
  main {
    position: relative;
    .content {
      max-width: 1600px;
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .wrapper {
      z-index: 2;
      .section-content {
        height: 100%;
      }
      section {
        z-index: 2;
      }
    }
  }
  #preloader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to left,#314756,#2b7aa0);
    z-index: 9997;
    .prelogo {
      display: block;
      position: absolute;
      z-index: 9999;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: url("../img/png/logo.png") no-repeat;
      max-width: 140px;
      width: 100%;
      background-size: contain;
      max-height: 140px;
      height: 100%;
      p {
        font: normal 26px "Akrobat Black";
        white-space: nowrap;
        color: #fff;
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        &:before {
          display: block;
          content: '';
          color: #fff;
          animation: pre-dots 1s linear infinite;
          position: absolute;
          width: 30px;
          right: -35px;
          bottom: 0;
        }
      }
      @keyframes pre-dots {
        0%{content: '';}
        25%{content: '.';}
        50%{content: '..';}
        75%{content: '...';}
        100%{content: '....';}
      }
    }
  }
  .fp-scroller {
    height: 100%;
  }
  .coin {
    background: url("../img/png/coin.png") center no-repeat;
    width: 25px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 8px;
  }
  .aside-description {
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    align-items: flex-start;
    width: 100%;
    .description {
      font: normal 30px "akrobat black";
      text-align: center;
      margin-top: 50px;
      line-height: 45px;
      letter-spacing: 2px;
      backface-visibility: initial;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
    }
    .btn-block {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        width: 370px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 2px;
        box-sizing: border-box;
        border-bottom: 2px solid #898d8a;
      }
      p {
        text-align: center;
        font: normal 30px "akrobat black";
        color: #fff;
        letter-spacing: 1.4px;
        line-height: 44px;
        backface-visibility: initial;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
      }
      button {
        font: normal 14px "roboto bold";
        color: #333;
        cursor: pointer;
        border: none;
        background: #ffd71c;
        border-radius: 20px;
        outline: none;
        width: 260px;
        height: 45px;
        box-sizing: border-box;
        display: block;
        margin: 43px auto 0;
      }
      .annotation-small {
        font: normal 14px "roboto light";
        color: #ffd71c;
        margin-top: 32px;
        margin-bottom: 0;
        letter-spacing: 0.6px;
      }
    }
    &__left {
      position: relative;
      right: 192px;
      animation-delay: 0.5s;
      animation-duration: 0.3s;
      .icon {
        background: url("../img/png/running-1.png") center no-repeat;
        height: 64px;
      }
    }
    &__right {
      position: relative;
      left: 259px;
      top: 0;
      animation-delay: 0.5s;
      animation-duration: 0.3s;
      .description {
      }
      .icon {
        background: url("../img/png/e-money.png") center no-repeat;
        height: 50px;
      }
    }
  }
  #clock {
    margin: 0;
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    ul {
      background: none;
      box-shadow: none;
      width: 40px;
      margin: 0;
      li {
        &:first-child {
          opacity: 0;
        }
        a {
          background: none;
          .up {
            &:after {
              display: none;
            }
            .inn {
              font: normal 37.88px "peace sans";
              color: #ffd71c;
              background: none;
              text-shadow: none;
            }
            .shadow {
              background: none;
            }
          }
          .down {
            &:after {
              display: none;
            }
            .inn {
              font: normal 37.88px "peace sans";
              color: #ffd71c;
              background: none;
              text-shadow: none;
            }
            .shadow {
              background: none;
            }
          }
        }
      }
    }
    .flip-clock-divider {
      height: 30px;
      margin-top: 12px;
      .flip-clock-dot {
        background: #ffd71c;
      }
      .top {
        top: 0;
      }
      .bottom {
        bottom: 0;
      }
    }
    .flip-clock-label {
      display: none;
    }
  }//countdown timer
  .section {
    color: #fff;
    height: 100%;
    .container-mobile-iphone {
      display: none;
    }
    .before-start {
      position: relative;
      margin-top: 67px;
      &__timer {
        font: normal 37.88px "peace sans";
        color: #ffd71c;
        text-align: center;
        letter-spacing: 6.8px;
      }
      &__description {
        font: normal 16px "akrobat regular";
        text-align: center;
        letter-spacing: 2px;
        margin-top: -50px;
      }
    }
  }
  .section1 {
    user-select: none;
    width: 100%;
    background-size: cover;
    z-index: -1;
    .before-start {
      &__timer {
        letter-spacing: 2px;
      }
      &__description {
        margin-top: 0;
        .coin {
          right: 10px;
        }
      }
    }
    .bottom-timer {
      position: absolute;
      width: 100%;
      bottom: 58px;
      margin-top: 0 !important;
      left: 50%;
      transform: translateX(-50%);
    }

    .container-fixed-iphone {
      display: none;
    }
    #video-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      video {
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: 1;
      }
      .black-layer {
        z-index: 2;
        position: absolute;
        background: rgba(0,0,0,0.7);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }//video bg
    position: relative;
    .free-money {
      font: normal 18px "roboto light";
      width: 340px;
      position: absolute;
      bottom: 115px;
      left: 64px;
    }
  }
  .section2 {
    background: url("../img/jpg/section-2-bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    .container-fixed-iphone {
      display: none;
    }
    .section-content {
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: column;
    }
    .before-start {
      &__timer {
        display: block;
      }
    }
    .all-marks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 1;
      .left-marks {
        left: 0;
        width: 50%;
        position: absolute;
        height: 100%;
      }
      .right-marks {
        right: 0;
        width: 50%;
        position: absolute;
        height: 100%;
      }
      .mark {
        width: 77px;
        height: 104px;
        display: block;
        position: absolute;
        animation-delay: 0.7s;
      }
      .dinner-green {
        background: url("../img/png/dinner-green.png") center no-repeat;
        top: 26%;
        right: 48%;
      }
      @keyframes dinner-green {
        0%{
          right: 0;
          top: 0;
        }
        100%{
          top: 26%;
          right: 48%;
        }
      }
      .dinner-orange {
        background: url("../img/png/dinner-orange.png") center no-repeat;
        right: 45%;
        top: 66%;
      }
      .label {
        background: url("../img/png/label.png") center no-repeat;
        right: 79%;
        top: 49%;
      }
      .vegetables {
        background: url("../img/png/vegetables.png") center no-repeat;
        left: 39%;
        top: 28%;
      }
      .sport {
        background: url("../img/png/sport.png") center no-repeat;
        left: 76%;
        top: 47%;
      }
      .cosmetic {
        background: url("../img/png/cosmetic.png") center no-repeat;
        left: 42%;
        top: 65%;
      }
    }
    .aside-description {
      .description {
        margin-top: 0;
        line-height: 49px;
      }
      &__left {
        top: 8px;
        right: 222px;
        animation-delay: 1.3s;
      }
      &__right {
        animation-delay: 1.3s;
        top: 8px;
        left: 216px;
      }
    }
  }
  .section3 {
    background: url("../img/jpg/section-3-bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    .email-input {
      display: none;
    }
    .container-fixed-iphone {
      display: none;
    }
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .aside-description {
      &__left {
        right: 234px;
        top: 11px;
        .sneakers {
          animation-iteration-count: infinite;
          animation-delay: 1s;
        }
        .icon_section3 {
          background: url("../img/png/leg.png") no-repeat;
          width: 64px;
          height: 61px;
          margin: 0 auto;
        }
        .description {
          letter-spacing: 1.5px;
        }
      }
      &__right {
        left: 245px;
        top: 11px;
        .icon_section3 {
          background: url("../img/png/graphic.png") no-repeat;
          width: 56px;
          height: 60px;
          margin: 0 auto;
        }
        .description {
          letter-spacing: 1.5px;
        }
      }
    }
  }
  .section4 {
    background: url("../img/jpg/section-4-bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    .container-fixed-iphone {
      display: none;
    }
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .aside-description {
      &__left {
        right: 178px;
        top: 11px;
        .description {
          letter-spacing: 1.5px;
          margin-top: 33px;
        }
        .icon_section4 {
          background: url("../img/png/friends.png") center no-repeat;
          width: 60px;
          height: 55px;
          margin: 10px auto 0;
        }
      }
      &__right {
        left: 184px;
        top: 11px;
        .description {
          letter-spacing: 1.5px;
          margin-top: 42px;
        }
        .icon_section4 {
          background: url("../img/png/chats.png") center no-repeat;
          width: 57px;
          height: 50px;
          margin: 10px auto 0;
        }
      }
    }
  }
  .section5 {
    background: url("../img/jpg/section-5-bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
    .container-fixed-iphone {
      display: none;
    }
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .aside-description {
      .description {
        p {
          position: relative;
          margin: 7px 0;
          &:last-child {
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -10px;
              left: 50%;
              transform: translate(-50%,-50%);
              height: 2px;
              box-sizing: border-box;

            }
          }
        }
        .grey-row {
          width: 370px;
          height: 2px;
          box-sizing: border-box;
          border-bottom: 2px solid #898d8a;
          margin: 0 auto;
        }
      }
      .section5-animation {
        &:first-child {
          animation-delay: 0.7s;
        }
        &:last-child {
          animation-delay: 1s;
        }
      }
      &__left {
        right: 165px;
        top: 0;
      }
      &__right {
        top: 0;
        left: 175px;
      }
    }
    .run-club {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 45px;
      a {
        font: normal 14px "roboto bold";
        color: #333;
        cursor: pointer;
        border: none;
        background: #ffd71c;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        padding: 14px 79px;
      }
    }
  }
  .section6 {
    background-size: cover;
    user-select: none;
    position: relative;
    overflow: hidden;
    z-index: -2;
    ._draggable {
      position: absolute;
      overflow: hidden;
      width: 4500px;
      height: 3690px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        display: block;
        right: 0;
        bottom:0;
        background: rgba(0,0,0,0.7);
        pointer-events: none;
      }
      .drag-bg {
        display: block;
        width: 3000px;
        height: 2000px;
      }
    }
    .section-content {

    }
    .swipe-icon {
      background: url("../img/png/swipe-icon.png") center no-repeat;
      width: 20px;
      height: 49px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 70px;
      animation: swipe-arrow 1.5s linear 1s infinite;
      margin-left: 0;
    }
    @keyframes swipe-arrow {
      0%{margin-left: 0}
      50%{margin-left: -50px}
      100%{margin-left: 0}
    }
    .container-fixed-iphone {
      display: none;
    }
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .aside-description {
      .animation-row {
        &:nth-child(1) {
          animation-delay: 0.4s;
        }
        &:nth-child(2) {
          animation-delay: 0.6s;
        }
        &:nth-child(3) {
          animation-delay: 0.8s;
        }
        &:nth-child(4) {
          animation-delay: 1s;
        }
        &:nth-child(5) {
          animation-delay: 1.2s;
        }
      }
      .description {
        margin-top: 0;
      }
      &__left {
        right: 179px;
        top: -2px;
      }
      &__right {
        top: -2px;
        left: 209px;
      }
    }
    .email-input {
      display: none;
    }
  }
  .section7 {
    background: url('../img/jpg/section-7-bg.jpg') center no-repeat;
    background-size: cover;
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .before-start {
      margin-top: 48px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .total-graphic {
      position: relative;
      width: 700px;
      margin: 0 auto;
      table {
        border-collapse:collapse;
        border: 1px solid #404242;
        width: 700px;
        height: 245px;
        box-sizing: border-box;
        margin: 100px auto 0;
        tr {
          box-sizing: border-box;
          td {
            box-sizing: border-box;
            width: 100px;
            height: 40px;
            border: 1px solid #404242;
          }
        }
      }
      .chart-line {
        position: absolute;
        left: -8px;
        top: 115px;
        background: url("../img/png/chart-line.png") center no-repeat;
        width: 617px;
        height: 240px;
      }
      .detail-block {
        display: block;
        border: 2px solid #fff;
        border-radius: 8px;
        background: rgba(0,0,0,0.4);
        position: absolute;
        left: 88px;
        top: 35px;
        &:after {
          content: '';
          position: absolute;
          background: url("../img/png/triangle.png") center no-repeat;
          width: 12px;
          height: 6px;
          bottom: -11px;
          left: 50%;
          transform: translate(-50%,-50%);
          display: block;
        }
        &__info {
          padding: 0 50px;
          &:first-child {
            margin-top: 4px;
          }
          &:nth-child(2) {
            margin-top: 7px;
          }
          &:last-child {
            margin-top: 7px;
            p:last-child {
              position: relative;
              top: -18px;
            }
        }
          p {
            margin: 0;
            text-align: center;
            &:first-child {
              color: #ffd71c;
              font: normal 24px "peace sans";
            }
            &:last-child {
              font: normal 14px "roboto light";
              position: relative;
              top: -3px;
              .coin {
                width: 16px;
                background-size: contain;
                left: -6px;
              }
            }
          }
        }
      }
    }
    .total-info {
      display: flex;
      justify-content: space-between;
      max-width: 735px;
      margin: 28px auto 0;
      .digits {
        font: normal 24px "peace sans";
        margin: 0;
        .coin {
          top: 5px;
          width: 16px;
          background-size: contain;
        }
      }
      .description {
        font: normal 14px "roboto light";
        margin: 0;
      }
      &__section {
        border: 2px solid #fff;
        border-radius: 6px;
        box-sizing: border-box;
        width: 220px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
          margin: 0 35px;
        }
      }
    }
  }
  .section8 {
    background: linear-gradient(to right,#4e4476,#414b76);
    height: 100%;
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .leader-table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80%;
      .leader-filter {
        z-index: 1000;
        display: flex;
        justify-content: center;
        position: relative;
        &__type {
          display: flex;
          .active-type {
            background: #fff;
            color: #333;
          }
          button {
            background: none;
            border: 2px solid #fff;
            color: #fff;
            cursor: pointer;
            font: normal 14px "roboto bold";
            border-radius: 6px;
            box-sizing: border-box;
            width: auto;
            height: auto;
            padding: 9px 68px;
            outline: none;
            text-align: center;
          }
          #type-step {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            position: relative;
            .shoes {
              background: url("../img/png/yellow-shoes.png") no-repeat;
              background-size: contain;
              width: 26px;
              height: 24px;
              position: absolute;
              left: 35px;
              top: 6px;
            }
          }
          #type-money {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            position: relative;
            .coin {
              position: absolute;
              left: 35px;
              top: 6px;
            }
          }
        }
        &__months {
          position: absolute;
          left: 253px;
          top: 0;
          .jq-selectbox__select {
            background: none;
            color: #fff;
            box-shadow: none;
            text-shadow: none;
            border: 2px solid #fff;
            box-sizing: border-box;
            font: normal 12px "roboto bold";
            display: flex;
            align-items: center;
            height: 45px;
            width: 170px;
            border-radius: 35px;
            text-align: center;
          }
          .jq-selectbox__dropdown {
            z-index: 9999;
            background: #fff;
            li {
              color: #333;
            }
          }
          .jq-selectbox__trigger {
            border-left: none;
            width: 45px;
          }
          .jq-selectbox__trigger-arrow {
            background: url("../img/png/arrow-select.png") center no-repeat;
            width: 10px;
            height: 5px;
            border: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
      .all-leaders {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 450px;
        width: 100%;
        max-width: 1100px;
        margin-top: 36px;
        margin-left: 251px;
        &__one {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 340px;
          padding: 15px 0 12px 0;
          .position {
            font: normal 18px "peace sans";
            min-width: 20px;
          }
          .photo {
            margin-left: 29px;
          }
          .name-record {
            margin-left: 27px;
            position: relative;
            top: -6px;
            p {
              &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }
              margin: 4px 0;
              font: normal 14px "roboto bold";
              .yellow-shoes {
                background: url("../img/png/yellow-shoes.png") center no-repeat;
                width: 17px;
                height: 17px;
                display: inline-block;
              }
              .leader-record {
                font: normal 14px "roboto light";
                color: #ffd71c;
                padding-left: 20px;
              }
            }
          }
        }
      }
      #coin-leaders {
        .all-leaders__one {
          .name-record {
            p {
              .yellow-shoes {
                background: url("../img/png/coin.png") no-repeat;
                width: 25px;
                height: 25px;
                background-size: contain;
              }
            }
          }
        }
      }
      .visible-leaders {
        display: flex;
      }
      .current-page {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 23px;
        width: 100px;
        height: 40px;
        margin: 43px auto 0;
        text-align: center;
        a {
          text-decoration: none;
          color: #666;
          font: normal 10px "roboto regular";
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .active-page {
          color: #fff;
          font: normal 10px "roboto bold";
          background: #ffc80a;
        }
      }
    }
  }
  .section9 {
    background: linear-gradient(to left,#314756,#2b7aa0);
    .before-start {
      margin-top: 93px;
      p {
        margin: 0;
      }
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .trademarks {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 1100px;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      &__line {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: nowrap;
        &:nth-child(2) {
          margin-top: 10px;
        }
        .trademarks-one {
          width: 240px;
          height: 100px;
          img {
            display: block;
            width: 240px;
            height: 100px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .section10 {
    background: linear-gradient(to right top,#be93c5,#6e5787);
    .before-start {
      margin-top: 93px;
      &__timer {
        letter-spacing: 1.8px;
      }
    }
    .gif-iphone {
      max-width: 601px;
      margin: 52px auto 0;
      img {
        width: 100%;
        display: block;
      }
    }
    .partnership {
      &__title {
        text-align: center;
        font: normal 24px "akrobat light";
        margin-top: 43px;
        margin-bottom: 0;
        letter-spacing: 1px;
      }
      &__documents {
        display: flex;
        justify-content: center;
        margin-top: 38px;
        button {
          outline: none;
          cursor: pointer;
          font: normal 14px "roboto bold";
          width: 260px;
          height: 50px;
          border-radius: 30px;
          margin: 0 20px;
        }
        .partner-present {
          background: none;
          border: 1px solid #fff;
          text-align: center;
          box-sizing: border-box;
          color: #fff;
        }
        .partner-reg {
          background: linear-gradient(to right top,#e3f4fd,#fff);
          color: #333;
          border: none;
        }
      }
    }
  }

  .central-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

//animation-delay class
  .slow1 {
    animation-delay: 0.4s;
  }
  .slow2 {
    animation-delay: 0.6s;
  }
  .slow3 {
    animation-delay: 0.8s;
  }
  .slow4 {
    animation-delay: 1s;
  }
  .up1 {
    animation-delay: 0.4s;
  }
  .up2 {
    animation-delay: 0.6s;
  }
  .up3 {
    animation-delay: 0.8s;
  }
  .up4 {
    animation-delay: 1s;
  }
  .animFirstLeft {
    animation-delay: 0.7s;
  }
  .animSecondLeft {
    animation-delay: 1.1s;
  }
  .animFirstRight {
    animation-delay: 0.7s;
  }
  .animSecondRight {
    animation-delay: 1.1s;
  }
  //animation-delay class

  //fixed elements styles
  #mobile-nav-btn {
    display: none;
  }
  .mobile-navigation {
    display: none;
  }
  .logo {
    position: fixed;
    left: 40px;
    top: 26px;
    z-index: 100;
    width: 110px;
    height: 110px;
    img {
      display: block;
      width: 100%;
    }
  }
  .email-input {
    position: fixed;
    left: 59px;
    bottom: 43px;
    z-index: 100;
    input {
      box-sizing: border-box;
      width: 310px;
      background: none;
      border: 1px solid #fff;
      font: normal 14px "akrobat black";
      letter-spacing: 1px;
      color: #fff;
      padding: 10px 35px 10px 20px;
      border-radius: 20px;
      &:focus {
        outline: none;
      }
      &:-moz-placeholder {
        color: #fff;
        font: normal 14px "os light-italic";
      }
      &:-ms-input-placeholder {
        color: #fff;
        font: normal 14px "os light-italic";
      }
      &::-webkit-input-placeholder {
        color: #fff;
        font: normal 14px "os light-italic";
      }
    }
    .error {
      border-color: red;
    }
    .valid {
      border-color: #fff;
    }
    button {
      cursor: pointer;
      border: none;
      background: url("../img/png/telegram-input.png") center no-repeat;
      width: 18px;
      height: 16px;
      outline: none;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 10px;
    }
  }
  .social-btn {
    position: fixed;
    right: 69px;
    bottom: 36px;
    z-index: 100;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 26px;
        &:last-child {
          margin-right: 0;
        }
        .social {
          width: 40px;
          height: 40px;
          display: block;
        }
        .social-vk {
          background: url("../img/png/social-vk.png") no-repeat;
        }
        .social-fb {
          background: url("../img/png/social-fb.png") no-repeat;
        }
        .social-insta {
          background: url("../img/png/social-insta.png") no-repeat;
        }
        .social-youtube {
          background: url("../img/png/youtube.png") no-repeat;
        }
      }
    }
  }
  .container-fixed-iphone{
    width: 100%;
    position: absolute;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .fixed-iphone {
      animation-duration: 0.5s;
      position: relative;
      width: 13vw;
      height: auto;
      z-index: 200;
      .iphone-slider {
        top: 12%;
        position: absolute;
        left: 6.1%;
        right: 6.1%;
        bottom: 11%;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  #fp-nav {
    right: 60px !important;
    ul {
      li {
        width: 12px;
        height: 12px;
        &:hover {
          a {
            span {
              margin: -2px 0 0 -2px !important;
            }
          }
        }
        .active {
          span {
            background: #fff !important;
            margin: -2px 0 0 -2px !important;
          }
        }
        a {
          span {
            box-sizing: border-box;
            width: 12px !important;
            height: 12px !important;
            background: none !important;
            border: 1px solid #fff !important;
          }
        }
      }
    }
  }
  .application-start {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      z-index: -1;
    }
    .popup-content {
      max-width: 560px;
      background: #fff;
      color: #333;
      z-index: 9999;
      text-align: center;
      margin: 0 auto;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      &__title {
        font: normal 30px "akrobat black";
        margin:0;
        padding-top: 40px;
      }
      &__description {
        font: normal 16px "roboto light";
        margin: 0;
        padding-top: 20px;
      }
      .rocket {
        background: url("../img/png/rocket.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 60px auto 0;
      }
      .btn-ok {
        position: relative;
        margin-top: 50px;
        padding-bottom: 30px;
        button {
          background: #ffd71c;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          border-radius: 25px;
          font: normal 14px "roboto bold";
          border: none;
          cursor: pointer;
          width: 160px;
          text-align: center;
          padding: 15px 0;
          display: block;
          margin: 0 auto;
        }
        .social-popup {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          right: 30px;
          bottom: 40px;
          a {
            display: block;
          }
          &__vk {
            background: url("../img/png/pop-vk.png") no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 20px;
          }
          &__fb {
            background: url("../img/png/pop-fb.png") no-repeat;
            width: 24px;
            height: 24px;
          }
        }
      }
      .cancel-popup {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        background: url("../img/png/cancel-popup.png") no-repeat;
        width: 13px;
        height: 13px;
      }
    }
  }
  .order-form {
    display: none;
    .popup-content {
      form {
        .input-group {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          input {
            border: 2px solid #999;
            font: normal 14px "roboto regular";
            color: #333;
            outline: none;
            box-sizing: border-box;
            padding-left: 20px;
            border-radius: 25px;
            width: 310px;
            height: 45px;
            &:focus {
              outline: none;
            }
            &:-moz-placeholder {
              font: normal 14px "roboto regular";
              color: #333;
            }
            &::-webkit-input-placeholder {
              font: normal 14px "roboto regular";
              color: #333;
            }
            &:-ms-input-placeholder {
              font: normal 14px "roboto regular";
              color: #333;
            }
          }
          .error {
            border-color: #e20000;
            color: #e20000;
          }
          .valid {
            border-color: #009a07;
          }
          .textarea {
            border: none;
            max-width: 440px;
            width: 100%;
            height: 36px;
            resize: none;
            cursor: pointer;
            outline: none;
            font: normal 14px "roboto regular";
            &:focus {
              outline: none;
              .grey-line {
                display: none;
              }
            }
            &::-webkit-input-placeholder {
              text-overflow:ellipsis;
            }
            &:-ms-input-placeholder {
              text-overflow:ellipsis;
            }
            &::-moz-placeholder {
              text-overflow:ellipsis;
            }
          }
          label {
            font: normal 12px "roboto regular";
            color: #333;
          }
          button {
            background: #ffd71c;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            font: normal 14px "roboto bold";
            color: #333;
            border: none;
            cursor: pointer;
            outline: none;
            border-radius: 25px;
            width: 160px;
            height: 45px;
            box-sizing: border-box;
            margin-bottom: 20px;
          }
          .grey-line {
            display: block;
            margin: 0;
            position: absolute;
            max-width: 440px;
            height: 1px;
            background: #d9dadc;
            width: 100%;
            top: 40px;
          }
        }
      }
    }
  }
  .thq {
    display: none;
    .popup-content {
      &__title {
        max-width: 390px;
        margin: 0 auto;
      }
      .popup-phone {
        background: url("../img/png/thq-phone.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 30px auto 0;
      }
    }
  }
  .advertising {
    display: none;
  }
  .partners-registry {
    display: none;
    .popup-content {
      &__description {
        text-align: left;
        width: 55%;
        margin: 0 auto;
      }
    }
  }
  .partners-next {
    display: none;
    .popup-content {
      &__description {
        text-align: left;
        width: 55%;
        margin: 0 auto;
      }
      form {
        .btn-group {
          flex-direction: row;
          justify-content: center;
          .btn-return {
            background: none;
            box-shadow: none;
            width: 120px;
          }
        }
      }
    }
  }
  .popup-visible {
    display: block;
  }
  //fixed elements styles
}

@media screen and (min-width: 2960px) {
  .section6 {
    background: url("../img/jpg/section-6-bg.jpg") center no-repeat;
    background-size: cover;
    ._draggable {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  .aside-description {

    &__left {
      right: 100px;
    }
    &__right {
      left: 165px;
    }
    .description {
      font-size: 24px;
      margin-top: 30px;
    }
    .icon {
      background-size: contain;
      height: 60px;
    }
  }
  .section {
    .before-start {
      font-size: 28px;
      &__timer {
        letter-spacing: 3px;
      }
    }
  }
  .section1 {
  }
  .section2 {
    .all-marks {
      .dinner-green {
        top: 20%;
        right: 48%;
      }
      .dinner-orange {
        right: 45%;
        top: 65%;
      }
      .label {
        right: 79%;
        top: 40%;
      }
      .vegetables {
        left: 39%;
        top: 20%;
      }
      .sport {
        left: 76%;
        top: 40%;
      }
      .cosmetic {
        left: 42%;
        top: 65%;
      }
    }
    .aside-description {
      &__right {
        left: 158px;
      }
      &__left {
        right: 180px;
      }
    }
  }
  .section5 {
    .aside-description {
    }
  }
  .section6 {
    .btn-block {
      p {
        font-size: 24px;
      }
    }
  }
  .section8 {
    .leader-table {
      .leader-filter {
        &__months {
          left: 10%;
        }
      }
      .all-leaders {
        margin: 36px auto 0;
      }
    }
  }
  .section10 {
    .gif-iphone {
      max-width: 425px;
      margin-top: 15px;
    }
  }

  .container-fixed-iphone{
    .fixed-iphone {
      width: 13vw;
    }
  }
}
@media screen and (max-width: 1300px) {
  .section1 {
    #video-bg {
      video {
        width: 113%;
      }
    }
  }
  .section {
    .before-start {
      &__timer {
        letter-spacing: 1px;
        font-size: 27px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 115px;
      }
      &__right {
        left: 115px;
      }
    }
  }
  .section6 {
    .aside-description {
      &__right {
        left: 150px;
      }
    }
  }
  .section9 {
    .trademarks {
      max-width: 1000px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .section {
    .before-start__timer {
      font-size: 28px;
    }
  }
  .aside-description {
    .btn-block {
      &::before {
        top: -5px;
        width: 300px;
      }
      p {
        margin: 10px 0;
      }
      button {
        margin-top: 0;
      }
    }
  }
  .before-start {
    margin-top: 50px !important;
  }
  .section1 {
    .free-money {
      display: none;
    }
  }
  .section2 {
    .aside-description {
      &__left {
        right: 130px;
      }
      &__right {
        left: 130px;
      }
    }
    .all-marks {
      .mark {
        transform: scale(0.8);
      }
    }
  }
  .section3 {
    .aside-description {
      &__left {
        right: 155px;
      }
      &__right {
        left: 155px;
      }
    }
  }
  .section4 {
    .aside-description {
      &__left {
        right: 155px;
      }
      &__right {
        left: 155px;
      }
    }
  }
  .section6 {
    .aside-description {
      &__left {
        top: 0;
        right: 155px;
      }
      &__right {
        top: 0;
        left:155px;
      }
    }
  }
  .section9 {
    .trademarks {
      &__line {
        .trademarks-one {
          height: auto;
          img {
            width: 175px;
            height: 80px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .before-start {
    margin-top: 35px !important;
  }
  .section7 {
    .total-graphic {
      .chart-line {
        top: 10px;
      }
      .detail-block {
        top: -30px;
        left: 96px;
        &__info {
          p {
            &:first-child {
              font-size: 20px;
            }
            &:last-child {
              font-size: 12px;
            }
          }
        }
      }
      table {
        margin-top: 0;
      }
    }
    .total-info {
      transform: scale(0.94);
    }
  }
  .section8 {
    .before-start {
      margin-top: 50px;
    }
    .leader-table {
      .all-leaders {
        align-items: center;
        margin-top: 20px;
        height: 330px;
        max-height: 100%;
        &__one {
          width: 300px;
          padding: 5px 0;
          .photo {
            margin-left: 5px;
          }
          .name-record {
            margin-left: 10px;
          }
        }
      }
      .current-page {
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #mobile-nav-btn {
    display: block;
    width: 50px;
    height: 42px;
    position: fixed;
    z-index: 9990;
    right: 30px;
    top: 54px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 7px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2){
        top: 15px;
      }
      &:nth-child(3){
        top: 30px;
      }
    }
  }
  #mobile-nav-btn.open {
    span {
      &:nth-child(1){
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3){
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .mobile-navigation {
    display: block;
    position: absolute;
    z-index: 8888;
    background: rgba(0,0,0,0.8);
    top: 0;
    width: 100%;
    text-align: center;
    transition: all 0.7s linear;
    ul {
      line-height: 30px;
      margin: 10px 0;
      padding: 0;
      .animation-left {
        &:nth-child(1) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.6s;
        }
        &:nth-child(3) {
          animation-delay: 0.7s;
        }
        &:nth-child(4) {
          animation-delay: 0.8s;
        }
        &:nth-child(5) {
          animation-delay: 0.9s;
        }
        &:nth-child(6) {
          animation-delay: 1s;
        }
        &:nth-child(7) {
          animation-delay: 1.1s;
        }
        &:nth-child(8) {
          animation-delay: 1.2s;
        }
        &:nth-child(9) {
          animation-delay: 1.3s;
        }
        &:nth-child(10) {
          animation-delay: 1.4s;
        }
      }
      li {
        a {
          text-decoration: none;
          color: #fff;
          font: normal 20px "akrobat light";
          letter-spacing: 1px;

        }
      }
    }
  }
  .hide-nav {
    top: -500px;
  }
  .section4 {
    .aside-description {
      &__left {
        right: 100px;
      }
      &__right {
        left: 95px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 85px;
      }
      &__right {
        left: 90px;
      }
      .description {
        .grey-row {
          width: 325px;
        }
      }
    }
    .run-club {
      bottom: 100px;
    }
  }
  .section6 {
    .swipe-icon {
      display: none;
    }
    .aside-description {
      &__left {
        right: 100px;
      }
      &__right {
        left: 100px;
      }
    }
  }
  #fp-nav {
    right: 30px!important;
  }
}

@media screen and (max-width: 1023px) {
  .aside-description {
    .icon {
      height: 45px;
    }
    .description {
      font-size: 18px;
      margin-top: 10px;
    }
    .btn-block {
      &:before {
        width: 255px;
      }
    }
  }
  .before-start {
    margin-top: 15px!important;
  }
  .section {
    height: 700px;
  }
  .section1 {
    overflow: hidden;
    #video-bg {
      video {
        width: auto;
        height: 100vh;
      }
    }
  }
  .section5 {
    .aside-description {
      .description {
        .grey-row {
          width: 275px;
        }
      }
    }
  }
  .section6 {
    .aside-description {
      &__left {
       right: 110px;
      }
      &__right {
        left : 100px
      }
    }
  }
  .section8 {
    .leader-table {
      transform: scale(0.8);
      margin-top: 0;
    }
  }
  .section9 {
    .trademarks {
      max-width: 600px;
      &__line {
        .trademarks-one {

        }
      }
    }
  }
  .section10 {
    .gif-iphone {
      max-width: 310px;
    }
    .partnership {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 950px) {
  .section2 {
  }
  .section7 {
    .total-info {
      margin-top: 0;
    }
  }
  .section8 {
    .leader-table {
      .leader-filter {
        &__months {
          left: auto;
          right: 0;
        }
      }
    }
  }
  .section10 {
    .partnership {
      position: relative;
      top: -30px;
    }
  }
  #fp-nav {
    right: 25px!important;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    a {
      display: block;
      width: 70px;
    }
  }
  .email-input {
    left: 10px;
    bottom: 10px;
    input {
      width: 225px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .social-btn {
    right: 10px;
    bottom: 10px;
    ul {
      li {
        .social {
          width: 30px;
          height: 30px;
          background-size: contain;
        }
      }
    }
  }
  #mobile-nav-btn {
    right: 30px;
    top: 30px;
  }
  .aside-description {
    &__left {
      right: 65px;
    }
    &__right {
      left: 128px;
    }
  }
  .section {
    .before-start__timer {
      width: 90%;
      margin: 0 auto;
      font-size: 22px;
    }
  }
  .section1 {
    .bottom-timer {
      #clock {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .section3 {
    .aside-description {
      &__left {
        right: 135px;
      }
      &__right {
        left: 150px;
      }
    }
  }
  .section4 {
    .aside-description {
      &__left {
        right: 100px;
      }
      &__right {
        left: 100px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 100px;
      }
      &__right {
        left: 90px;
      }
    }
  }
  .section8 {
    .leader-table {
      .all-leaders {
        &__one {
          .photo {
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
      .hide-leader {
        display: none;
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #preloader {
    .prelogo {
      max-width: 110px;
      max-height: 110px;
    }
  }

  .aside-description {
    &__left {
      right: 50px;
    }
    &__right {
      left: 100px;
    }
    .description {
      font-size: 15px;
      line-height: 28px;
    }
    .btn-block {
      &:before {
        width: 200px;
      }
      p {
        font-size: 15px;
      }
      button {
        width: 200px;
      }
      .annotation-small {
        display: none;
      }
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      height: auto;
    }
  }
  #toggle-bg {
    display: none;
  }
  #clock {
    bottom: 15px;
    ul {
      padding: 0;
      width: 30px;
      height: 45px;
      li {
        a {
          .up {
            height: 45px;
            .inn {
              font-size: 27px;
              height: 40px;
            }
          }
          .down {
            display: none;
          }
        }
      }
    }
    .flip-clock-divider {
      margin-top: 2px;
    }
  }
  .section1 {
    background-size: cover;
    #video-bg {
      video {
        width: auto;
        height: 100%;
      }
    }
    .bottom-timer {

    }
  }
  .section2 {
    .aside-description {
      &__left {
        right: 75px;
      }
      &__right {
        left: 70px;
      }
      .description {
        line-height: 35px;
      }
    }
  }
  .section3 {
    .aside-description {
      &__left {
        right: 95px;
      }
      &__right {
        left: 95px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 65px;
      }
      &__right {
        left: 65px;
      }
      .description {
        line-height: 28px;
        .grey-row {
          width: 215px;
        }
      }
    }
  }
  .section6 {
    .aside-description {
      &__left {
        right: 90px;
      }
      &__right {
        left: 90px;
      }
    }
  }
  .section7 {
    .total-graphic {
      transform: scale(.8);
    }
    .total-info {
      transform: scale(.75);
    }
  }
  .section8 {
    .leader-table {
      top: -30px;
      .leader-filter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__months {
          position: relative;
          right: 0;
          order: 2;
        }
        &__type {
          order: 1;
        }
      }
    }
  }


  .application-start {
    .popup-content {
      &__title {
        font-size: 26px;
        padding-top: 20px;
      }
      &__description {
        padding-top: 10px;
      }
      .btn-ok {
        margin-top: 30px;
      }
    }
  }
  .order-form {
    .popup-content {
      form {
        .input-group {
          margin: 10px 0;
          input {
            width: 275px;
            height: 38px;
          }
        }
      }
    }
  }
  .thq {
    .popup-content {
      .popup-phone {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .aside-description {
    .description {
      font-size: 12px;
    }
    .btn-block {
      &:before {
        width: 150px;
      }
      button {
        margin-top: 0;
        width: 150px;
        height: 30px;
      }
      p {
        line-height: 28px;
        font-size: 12px;
      }
    }
  }
  .section {
    .before-start__timer {
      font-size: 22px;
    }
  }
  .section2 {
    .all-marks {
      .dinner-green {
        top: 15%;
      }
      .vegetables {
        top: 15%;
      }
      .mark {
        transform: scale(1);
        background-size: contain;
        width: 50px;
      }
      .label {
        display: none;
      }
      .sport {
        display: none;
      }
    }
  }
  .section4 {
    .aside-description {
      &__left {
        right: 60px;
        .description {
          margin-top: 20px;
        }
      }
      &__right {
        left: 60px;
        .description {
          margin-top: 20px;
        }
      }
    }
  }
  .section5 {
    .aside-description {
      .description {
        .grey-row {
          width: 175px;
        }
      }
    }
  }
  .section7 {
    .total-graphic {
      transform: translate(-50%);
      left: 50%;
      width: 100%;
      table {
        max-width: 700px;
        width: 100%;
      }
      .chart-line {
        max-width: 617px;
        width: 100%;
        background-size: contain;
        left: -5px;
        top: auto;
        bottom: -18px;
        height: 100%;
      }
      .detail-block {
        &__info {
          padding: 0 30px;
        }
      }
    }
    .total-info {
      &__section {
        width: 140px;
        height: 85px;
        margin-top: 10px;
        &:nth-child(2) {
          margin-top: 10px;
        }
      }
      .digits {
        font-size: 20px;
      }
      .description {
        font-size: 12px;
      }
    }
  }
  .section8 {
    .leader-table {
      .all-leaders {
        height: 297px;
        margin-top: 0;
      }
    }
  }
  .section9 {
    .trademarks {
      max-width: 500px;
      &__line {
        .trademarks-one {
          img {
            width: 150px;
            height: 50px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .aside-description {
  }
  .section {
    .before-start {
      &__timer {
        font-size: 17px;
      }
    }
  }
  .section1 {
  }
  .section8 {
    .leader-table {
      top: 0;
      .all-leaders {
        margin-top: 10px;
        height: 260px;
        &__one {
          width: 275px;
          .photo {
            margin-left: 0;
            width: 50px;
            img {
              display: block;
              width: 100%;
            }
          }
          .name-record {
            margin-left: 5px;
            p {
              font-size: 13px;
            }
          }
        }
      }
      .leader-filter {
        &__type {
          button {
            padding: 7px 50px;
          }
          #type-money {
            .coin {
              width: 18px;
              background-size: contain;
              left: 16px;
              top: 2px;
            }
          }
          #type-step {
            .shoes {
              width: 17px;
              height: 17px;
              left: 20px;
            }
          }
        }
        &__months {
          .jq-selectbox__select {
            height: 35px;
            width: 140px;
          }
        }
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 45px;
      }
      &__right {
        left: 54px;
      }
      .description{
        font-size: 12px;
      }
    }
  }
  .section6 {
    .aside-description {
      &__left {
        right: 55px;
      }
      &__right {
        left: 60px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .aside-description {
    .btn-block {
    }
    &__left {
      right: 30px;
    }
    &__right {
      left: 75px;
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      height: auto;
    }
  }
  #fp-nav {
    right: 8px!important;
  }
  .section {
    .before-start {
      &__timer {
        font-size: 14px;
      }
      &__description {
        font-size: 12px;
        .coin {
          width: 20px;
          height: 20px;
          background-size: contain;
        }
      }
    }
  }
  .section1 {
    .content {
      padding: 0 20px;
    }
  }
  .section2 {
    .aside-description {
      .description {
      }
      &__left {
        right: 50px;
      }
      &__right {
        left: 50px;
      }
    }
  }
  .section3 {
    .aside-description {
      &__left {
        .icon_section3 {
          background-size: contain;
          width: 45px;
          height: 45px;
        }
      }
      &__right {
        .icon_section3 {
          background-size: contain;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
  .section4 {
    .aside-description {
      .description {
      }
      &__left {
        right: 45px;
        top: 0;
      }
      &__right {
        left: 45px;
        top: 0;
      }
    }
  }
  .section5 {
    .aside-description {
      .description {
        font-size: 14px;
        p {
          width: 165px;
          br {
            display: none;
          }
        }
      }
    }
  }
  .section6 {
    .aside-description {
      .btn-block {
      }
      &__left {
        right: 45px;
      }
      &__right {
        left: 55px;
      }
    }
    .swipe-icon {
      display: none;
    }
  }
  .section7 {
    .aside-description {
      .description {
        font-size: 16px;
      }
    }
    .total-graphic {
      margin-top: 25px;
    }
    .total-info {
      &__section {
        margin-top: 0;
        &:nth-child(2) {
          margin: 0 10px;
        }
      }
    }
  }
  .section10 {
    .gif-iphone {
      max-width: 200px;
    }
    .partnership {
      &__title {
        margin-top: 40px;
      }
      &__document {
        button {
          font-size: 12px;
        }
      }
    }
  }
  #mobile-nav-btn {

  }
  .mobile-navigation {
    ul {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .logo {
    a {
      width: 40px;
    }
  }
  #mobile-nav-btn {
    right: 15px;
    top: 35px;
  }
  .section3 {
    .aside-description {
      &__left {
        right: 70px;
      }
      &__right {
        left: 72px;
      }
    }
  }
  .section8 {
    .content {
      padding: 0;
    }
  }
  .section9 {
    .trademarks {
      max-width: 445px;
    }
  }
}

//--- height styles
@media screen and (max-height: 420px) {
  .container-fixed-iphone {
    align-items: flex-start;
    .fixed-iphone {
      top: 130px;
      width: 10vw;
    }
  }
  .aside-description {
    .btn-block {
      button {
        height: 35px;
      }
    }
  }
  .section {
    .before-start{
      &__timer {
        font-size: 22px;
      }
    }
  }
  .section2 {
    .all-marks {
      .dinner-green {
        top: 12%;
      }
      .vegetables {
        top: 12%;
      }
      .mark {
        background-size: contain;
        width: 50px;
      }
    }
    .aside-description {

    }
  }
  .section5 {
    .aside-description {
      margin-top: 13px;
    }
    .run-club {
      bottom: 50px;
      a {
        padding: 8px 35px;
      }
    }
  }
  .section6 {
    .swipe-icon {
      display: none;
    }
  }
  .section7 {
    .total-graphic {
      margin-top: 26px;
      table {
        height: 210px;
        tr {
          td {
            width: 90px;
            height: 30px;
          }
        }
      }
    }
  }
  .section8 {
    .content {
      padding: 0;
    }
    .leader-table {
      margin-top: 15px;
      transform: scale(1);
      .all-leaders {
        margin-top: 7px;
        height: 175px;
        &__one {
          width: 210px;
          padding: 0;
          .position {
            font-size: 12px;
          }
          .photo {
            width: 30px;
          }
          .name-record {
            p {
              font-size: 10px;
              .leader-record {
                font-size: 11px;
              }
            }
          }
        }
      }
      .current-page {
        height: 30px;
        a {
          width: 25px;
          height: 25px;
        }
      }
      #coin-leaders {
        .all-leaders__one {
          .name-record {
            p {
              .yellow-shoes {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
  .section10 {
    .gif-iphone {
      max-width: 140px;
    }
  }
}
@media screen and (max-height: 390px) {
  .aside-description {
    top: 40%;
    .icon {
      height: 30px;
    }
    .description {
      font-size: 10px;
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      top: 100px;
    }
  }
  .section {
    .before-start {
      &__timer {
        font-size: 14px;
      }
    }
  }
  .section2 {
    .aside-description {
      top: 50%;
    }
  }
  main {
    .content {
      padding: 0 10px;
    }
  }
  .section7 {
    .total-graphic {
      margin-top: 5px;
      table {
        height: 186px;
        width: 85%;
      }
      .chart-line {
        width: 87%;
        left: 29px;
        bottom: -5px;
        height: 80%;
      }
      .detail-block {
        top: -33px;
        left: 52px;
        &__info {
          p {
            &:first-child {
              font-size: 12px;
            }
            &:last-child {
              font-size: 9px;
              .coin {
                width: 12px;
                left: -6px;
                top: 10px;
              }
            }
          }
        }
      }
    }
    .total-info {
      &__section {
        height: 50px;
        .digits {
          font-size: 16px;
          .coin {
            top: 2px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  #mobile-nav-btn {
    top: 10px;
    width: 35px;
    height: 35px;
    span {
      height: 5px;
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3){
        top: 20px;
      }
    }
  }

  .application-start {
    position: fixed;
    .popup-content {
      &__title {
        padding-top: 5px;
        font-size: 20px;
      }
      .rocket {
        margin-top: 10px;
      }
      .btn-ok {
        button {
          margin-bottom: 10px;
        }
        .social-popup {
          right: auto;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .order-form {
    .popup-content {
      form {
        .input-group {
          input {
            height: 25px;
          }
          .textarea {
            width: 90%;
          }
        }
      }
    }
  }
}
@media screen and (max-height: 350px) {
  .section7 {
    .total-graphic {
      .detail-block {
        top: 5px;
      }
    }
  }
  .section8 {
    .leader-table {
      .leader-filter {
        &__type {
          position: relative;
          left: 30px;
        }
      }
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      top: 80px;
    }
  }
}
//--- height styles


@media screen and (max-width: 475px) {
  .central-block {
    position: static;
    left: auto;
    top: auto;
    transform: none;
  }
  .mobile-navigation {
    position: fixed;
  }
  .before-start {
    &__description {
      letter-spacing: 1px;
    }
  }
  #mobile-nav-btn {
    position: fixed;
    top: 20px;
  }
  .section {
    z-index: 1;
    .container-mobile-iphone {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .before-start {
      &__timer {
        font-size: 37px;
      }
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 187px;
    width: 186px;
    height: 186px;
    img {
      width: 186px;
      height: 186px;
    }
  }
  .aside-description {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    .description {
      margin-top: 0;
      font-size: 18px;
      line-height: 34px;
      margin-left: 20px;
      text-align: left;
    }
    &__left {
      display: flex;
      right: auto;
      left: 0;
      width: 250px;
      .icon {
        width: 38px;
        background-size: contain;
        height: auto;
      }
    }
    &__right {
      display: flex;
      left: 0;
      width: 250px;
      .icon {
        width: 38px;
        background-size: contain;
        height: auto;
      }
    }
    .btn-block {
      button {
        width: 200px;
        height: 40px;
      }
    }
  }
  .email-input {
    position: absolute;
    top: 1436px;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    input {
      width: 275px;
    }
  }
  .social-btn {
    position: absolute;
    bottom: 85px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    ul {
      li {
        margin-right: 16px;
      }
    }
  }
  .container-fixed-iphone {
    display: none;
  }
  #clock {
    ul {
      width: 40px;
      height: 60px;
      li {
        a {
          .up {
            height: 60px;
            .inn {
              font-size: 45px;
              height: 60px;
            }
          }
          .down {
            display: none;
          }
        }
      }
    }
    .flip-clock-divider {
      margin-top: 16px;
    }
  }
  main {
    background: url("../img/jpg/320-bg.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 100;
    .content {
      padding: 0 15px;
    }
  }
  .free-money {
    display: block;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    transform: scale(1);
    font-size: 16px;
    position: relative;
    top: 0;
  }
  .section {
    overflow: visible;
    .container-mobile-iphone {
      .fixed-iphone {
        position: relative;
        .iphone-mobile {
          top: 60px;
          left: 16px;
          right: 16px;
          display: block;
          position: absolute;
        }
      }
    }
  }
  .section1 {
    background: none;
    height: 1500px;
    #video-bg {
      display: none;
    }
    .aside-description {
      margin-top: 1080px;
      &__right {
        margin-top: 25px;
      }
      .description {
        letter-spacing: 1px;
      }
    }
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 520px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .free-money {
      display: block;
      transform: none;
      left: auto;
      right: auto;
      top: auto;
      bottom: 115px;
      width: 90%;
      text-align: center;
    }
    .before-start {
      display: block;
      position: absolute;
      top: 380px;
      max-width: 425px;
      &__timer {
        font-size: 25px;
      }
    }
    .bottom-timer {
      display: block;
      bottom: auto;
      top: 140px;
    }
  }
  .section2 {
    background: none;
    position: relative;
    height: 1160px;
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 606px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .section-content {
      flex-direction: column;
    }
    .before-start {
      &__timer {
        display: block;
        font-size: 24px;
        width: 100%;
        margin-top: 20px;
        letter-spacing: 1px;
      }
    }
    .all-marks {
      .mark {
        right: 0;
        top: 0;
        height: 69px;
      }
      .dinner-green {
        top: 385px;
        left: 65px;
      }
      .dinner-orange {
        display: none;
      }
      .label {
        display: block;
        top: 430px;
        left: 130px;
      }
      .sport {
        display: none;
      }
      .cosmetic {
        top: 450px;
        left: 0;
      }
      .vegetables {
        top: 390px;
        left: 78px;
      }

    }
    .aside-description {
      align-items: center;
      top: 38px;
      .description {
        line-height: 26px;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0;
        font-size: 20px;
        br {
          display: none;
        }
      }
      &__left {
        right: 0;
        top: 0;
        width: 100%;
      }
      &__right {
        left: 0;
        top: 0;
        width: 100%;
        .description {
          margin-top: 52px;
        }
      }
    }
  }
  .section3 {
    background: none;
    position: relative;
    height: 1010px;
    .before-start {
      &__timer {
        font-size: 24px;
        width: 100%;
      }
    }
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 136px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .aside-description {
      margin-top: 720px;
      align-items: center;
      .description {
        text-align: left;
        line-height: 27px;
      }
      &__left {
        right: 0;
        top: 0;
        margin-top: 10px;
        .icon_section3 {
          background-size: contain;
          width: 40px;
          margin: 0 0 0 15px;
        }
        .description {
          margin: 0 0 0 24px;
        }
      }
      &__right {
        left: 0;
        top: 0;
        margin-top: 20px;
        .icon_section3 {
          background-size: contain;
          width: 40px;
          margin: 5px 0 0 15px;
        }
        .description {
          margin: 0 0 0 24px;
        }
      }
    }
    .email-input {
      display: block;
      top: 710px;
    }
  }
  .section4 {
    background: none;
    position: relative;
    height: 1035px;
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 154px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .before-start {
      &__timer {
        font-size: 24px;
        width: 100%;
        line-height: 36px;
      }
    }
    .aside-description {
      align-items: center;
      margin-top: 600px;
      .description {
        text-align: left;
        margin: 0 0 0 21px;
        line-height: 25px;
        letter-spacing: 0;
      }
      &__left {
        right: 0;
        top: 0;
        align-items: center;
        margin-top: 15px;
        .icon_section4 {
          margin: 0 0 0 18px;
          background-size: contain;
          width: 40px;
        }
      }
      &__right {
        left: 0;
        top: 0;
        align-items: center;
        margin-top: 55px;
        .icon_section4 {
          margin: 0 0 0 18px;
          background-size: contain;
          width: 40px;
        }
      }
    }
  }
  .section5 {
    background: none;
    position: relative;
    height: 1270px;
    .before-start {
      &__timer {
        font-size: 24px;
      }
    }
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 127px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .aside-description {
      margin-top: 640px;
      .description {
        margin-top: 0;
        text-align: left;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 25px;
        margin-left: 50px;
        p {
          position: relative;
          margin-top: 20px;
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background: #ffd71c;
            top: 10px;
            left: -32px;
            border-radius: 50%;
          }
          &:last-child:before {
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background: #ffd71c;
            top: 10px;
            left: -32px;
            border-radius: 50%;
            border-bottom: none;
          }
        }
        .grey-row {
          display: none;
        }
      }
      &__left {
        right: 0;
        top: 0;
      }
      &__right {
        left: 0;
        top: 0;
      }
    }
    .run-club {
      bottom: 50px;
      a {
        white-space: nowrap;
      }
    }
  }
  .section6 {
    background: none;
    position: relative;
    height: 1400px;
    ._draggable {
      display: none;
    }
    .before-start {
      &__timer {
        font-size: 24px;
        width: 100%;
      }
    }
    .container-mobile-iphone {
      display: block;
      position: absolute;
      top: 126px;
      .fixed-iphone {
        width: 256px;
        height: 518px;
        margin: 0 auto;
      }
    }
    .aside-description {
      margin-top: 730px;
      transform: scale(1);
      .ylw-dot {
        position: relative;
        width: 190px;
        margin: 0 auto;
        line-height: 25px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          box-sizing: border-box;
          background: #ffd71c;
          top: 20px;
          left: -32px;
          border-radius: 50%;
        }
      }
      .icon_section4 {
        display: none;
      }
      .description {
        text-align: left;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 25px;
        margin: 0 auto;
        width: 190px;
        position: relative;
      }
      .btn-block {
        width: 250px;
        margin-top: 10px;
        p {
          text-align: left;
          margin: 0 auto;
          font-size: 18px;
        }
        &:before {
          display: none;
        }
      }
      &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        align-items: center;
        .btn-block {
          .annotation-small {
            display: block;
            margin-top: 30px;
          }
          .ylw-dot {
            order: 1;
          }
          button {
            order: 2;
            margin-top: 46px;
          }
        }
      }
      &__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        align-items: center;
        margin-top: 20px;
        .btn-block {
          button {
            margin-top: 46px;
          }
        }
      }
    }
    .email-input {
      display: block;
      top: 710px;
    }
  }
  .section7 {
    background: none;
    min-height: 938px;
    .before-start {
      &__timer {
        font-size: 24px;
        margin-top: 27px;
      }
    }
    .total-graphic {
      margin-top: 117px;
      .detail-block {
        top: -60px;
        left: 11px;
        &__info {
          padding: 0 60px;
        }
      }
      table {
        transform: scale(1);
      }
    }
    .total-info {
      transform: scale(1);
      flex-direction: column;
      margin-top: 57px;
      &__section {
        width: 220px;
        height: 110px;
        margin: 15px 0;
        &:nth-child(2) {
          margin: 0;
        }
      }
    }
  }
  .section8 {
    background: none;
    height: 835px;
    .before-start {
      &__timer {
        font-size: 24px;
      }
    }
    .leader-table {
      transform: scale(1);
      padding: 0 20px;
      .leader-filter {
        flex-direction: column;
        height: 260px;
        &__months {
          order: 1;
          margin-top: 33px;
          .jq-selectbox__select {
            height: 49px;
            width: 172px;
          }
          .jq-selectbox__dropdown {
            bottom: -89px !important;
          }
          .jq-selectbox__select-text {
            font-size: 17px;
            letter-spacing: 1px;
          }
        }
        &__type {
          order: 2;
          margin-top: 0;
          left: auto;
          button {
            font-size: 15px;
          }
        }
      }
      .all-leaders {
        margin-top: 30px;
        height: 100%;
        &__one {
          max-width: 400px;
          width: 100%;
          padding: 0 0 32px;
          &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8) {
            display: none;
          }
          .photo {
            width: 60px;
            margin-left: 25px;
          }
          .name-record {
            margin-left: 21px;
            margin-top: 3px;
            letter-spacing: 1px;
          }
        }
      }
      .current-page {
        margin-top: 0;
        height: 60px;
      }
    }
  }
  .section9 {
    //display: block;
    background: none;
    height: 400px;
    position: relative;
    .before-start {
      &__timer {
        font-size: 24px;
        line-height: 35px;
      }
    }
  }
  .section10 {
    background: none;
    height: 815px;
    .before-start {
      &__timer {
        font-size: 24px;
      }
    }
    .gif-iphone {
      max-width: 100%;
      width: 290px;
    }
    .partnership {
      top: 25px;
      &__documents {
        flex-direction: column;
        align-items: center;
        .partner-present {
          margin-top: 37px;
        }
        button {
          margin: 10px 0;
          align-items: center;
          width: 320px;
          height: 55px;
          font-size: 19px;
        }
      }
    }
  }
  .application-start {
    position: fixed;
    .popup-content {
      .rocket {
        margin-top: 10px;
      }
      .btn-ok {
        button {
          margin-bottom: 10px;
        }
        .social-popup {
          right: auto;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .order-form {
    .popup-content {
      form {
        .input-group {
          input {
            height: 30px;
          }
          .textarea {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 423px) {
  .section2 {
    .all-marks {
      .dinner-green {
        top: 360px;
        left: 25px;
      }
      .label {
        top: 475px;
        left: 100px;
      }
      .vegetables {
        top: 335px;
        left: 100px;
      }
      .cosmetic {
        top: 412px;
        left: 15px;
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #mobile-nav-btn {
    top: 10px;
    width: 35px;
    height: 35px;
    span {
      height: 5px;
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3){
        top: 20px;
      }
    }
  }
  .email-input {
    top: 1245px;
  }
  .section {
    .container-mobile-iphone {
      .fixed-iphone {
        .iphone-mobile {
          top: 12%;
          bottom: 14%;
          right: 7%;
          left: 7%;
        }
      }
    }
  }
  .social-btn {
    width: 100%;
    ul {
      width: 100%;
      justify-content: center;
      display: flex;
      li {
        margin: 0 10px;
      }
    }
  }
  .section1 {
    height: 1320px;
    .content {
      padding: 0 10px;
    }
    .before-start {
      &__timer {
        margin: 0;
      }
    }
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .aside-description {
      margin-top: 928px;
    }
  }
  .section2 {
    height: 1025px;
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .section3 {
    height: 850px;
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .aside-description {
      margin-top: 560px
    }
    .email-input {
      top: 560px;
    }
  }
  .section4 {
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .aside-description {
      margin-top: 520px;
    }
  }
  .section5 {
    height: 1100px;
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .aside-description {
      margin-top: 460px;
    }
  }
  .section6 {
    height: 1240px;
    .aside-description {
      margin-top: 560px;
    }
    .container-mobile-iphone {
      .fixed-iphone {
        width: 183px;
        height: 382px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .email-input {
      top: 565px;
    }
  }
  .section8 {
    .leader-table {
      .all-leaders {
        &__one {
          padding-left: 20px;
          box-sizing: border-box;
        }
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        font-size: 18px;
      }
    }
  }

  .application-start {
    .popup-content {
      &__title {
        padding-top: 4px;
        font-size: 20px;
      }
      &__description {
        padding-top: 2px;
      }
    }
  }
  .order-form {
    .popup-content {
      form {
        .input-group {
          margin: 5px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .section1 {
    height: 1370px;
    .before-start {
      max-width: 380px;
      &__timer {
        width: 92%;
        font-size: 20px;
      }
    }
  }
  .email-input {
    top:  1310px;
  }
  .section2 {
    .before-start {
      &__timer {
        font-size: 22px;
      }
    }
    .aside-description {
      &__right {
        .description {
          margin-top: 20px;
        }
      }
      .description {
        font-size: 16px;
      }
    }
  }
  .section4 {
    height: 1000px;
  }
  .section8 {
    .leader-table {
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 320px) {
  .logo {
    a {
      width: auto;
      height: auto;
    }
    img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }
  }
  .section2 {
    .all-marks {
      .dinner-green {

      }
      .label {

      }
    }
  }
  .section8 {
    .leader-table {
      .all-leaders {
        &__one {
          .photo {
            margin-left: 4px;
          }
        }
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        font-size: 16px;
      }
    }
  }
}


//--iPod styles

@media screen and (width: 768px) and (height: 1024px) {
  .section {
    .before-start {
      &__timer {
        width: 76%;
        font-size: 34px;
      }
    }
  }
  .email-input {
    left: 25px;
    bottom: 35px;
    input {
      width: 250px;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
  .social-btn {
    right: 40px;
    bottom: 40px;
    ul {
      li {
        .social {
          width: 40px;
          height: 40px
        }
      }
    }
  }
  .mobile-navigation {
    ul {
      li {
        a {
          font-size: 35px;
        }
      }
    }
  }
  .logo {
    left: 20px;
    top: 15px;
    a {
      width: 100px;
    }
  }
  .aside-description {
    .icon {
      height: 80px;
    }
    .description {
      font-size: 20px;
    }
    &__left {
      right: 70px;
    }
    &__right {
      left: 130px;
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      width: 17vw;
    }
  }
  .section1 {
    background: url("../img/jpg/section-1-bg.jpg");
    #video-bg {
      display: none;
    }
    background-size: cover;
    .bottom-timer {
      bottom: 120px;
    }
    .before-start {
      &__description {
        font-size: 22px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 75px;
      }
      &__right {
        left: 85px;
      }
    }
    .run-club {
      bottom: 190px;
    }
  }
  .section6 {
    .aside-description {
      &__left {
        right: 100px;
      }
      &__right {
        left: 100px;
      }
    }
  }
  .section7 {
    .total-graphic {
      table {
        margin: 0 auto;
        tr {
          td {
            width: 110px;
            height: 70px;
          }
        }
      }
      .chart-line {
        width: 710px;
        height: 300px;
        background-size: contain;
        top: 135px;
      }
      .detail-block {
        &__info {
          p {
            &:first-child {
              font-size: 32px;
            }
            &:last-child {
              font-size: 22px;
            }
          }
        }
      }
    }
    .total-info {
      &__section {
        width: 230px;
        height: 130px;
        .description {
          font-size: 20px;
        }
        .digits {
          font-size: 32px;
        }
      }
    }
  }
  .section8 {
    .leader-table {
      transform: scale(1);
      .all-leaders {
        max-height: 420px;
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        margin-top: 115px;
        width: 100%;
      }
    }
  }
  #clock {
    .flip-clock-divider {
      margin-top: 20px;
    }
    ul {
      height: 100px;
      width: 45px;
      li {
        a {
          .up {
            height: 70px;
            .inn {
              font-size: 50px;
              height: 100px;
            }
          }
        }
      }
    }
  }
  #fp-nav {
    top: 75%;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  .section1 {
    background: url("../img/jpg/section-1-bg.jpg");
    #video-bg {
      display: none;
    }
    background-size: cover;
  }
}
@media screen and (width: 1024px) and (height: 1366px) {
  .section {
    .before-start {
      &__timer {
        width: 76%;
        font-size: 44px;
        margin: 0 auto;
      }
    }
  }
  .email-input {
    left: 25px;
    bottom: 35px;
    input {
      width: 370px;
      padding-top: 18px;
      padding-bottom: 18px;
      letter-spacing: 6px;
      font-size: 23px;
      &:-moz-placeholder {
        font-size: 23px;
      }
      &:-ms-input-placeholder {
        font-size: 23px;
      }
      &::-webkit-input-placeholder {
        font-size: 23px;
      }
    }
  }
  .social-btn {
    right: 40px;
    bottom: 40px;
    ul {
      li {
        .social {
          width: 40px;
          height: 40px
        }
      }
    }
  }
  .mobile-navigation {
    ul {
      li {
        a {
          font-size: 35px;
        }
      }
    }
  }
  .logo {
    left: 20px;
    top: 15px;
    a {
      width: 100px;
    }
  }
  .aside-description {
    .icon {
      height: 80px;
    }
    .description {
      font-size: 30px;
    }
    &__left {
      right: 110px;
    }
    &__right {
      left: 190px;
    }
  }
  .container-fixed-iphone {
    .fixed-iphone {
      width: 17vw;
    }
  }
  .section1 {
    background: url("../img/jpg/section-1-bg.jpg");
    #video-bg {
      display: none;
    }
    background-size: cover;
    .free-money {
      display: block;
      left: 30px;
      width: 450px;
      font-size: 24px;
    }
    .bottom-timer {
      bottom: 300px;
    }
    .before-start {
      &__description {
        font-size: 22px;
      }
    }
  }
  .section2 {
    .all-marks {
      .label {
        right: 84%;
        top: 37%;
      }
      .sport {
        left: 82%;
        top: 37%;
      }
    }
  }
  .section4 {
    .aside-description {
      &__left {
        right: 117px;
      }
      &__right {
        left: 110px;
      }
    }
  }
  .section5 {
    .aside-description {
      &__left {
        right: 93px;
      }
      &__right {
        left: 111px;
      }
      .description {
        p {
          letter-spacing: 1px;
        }
      }
    }
    .run-club {
      bottom: 190px;
    }
  }
  .section6 {
    .aside-description {
      &__left {
        right: 131px;
      }
      &__right {
        left: 125px;
      }
    }
    .swipe-icon {
      bottom: 250px;
    }
  }
  .section7 {
    .total-graphic {
      table {
        margin: 0 auto;
        tr {
          td {
            width: 110px;
            height: 70px;
          }
        }
      }
      .chart-line {
        width: 710px;
        height: 300px;
        background-size: contain;
        top: 135px;
      }
      .detail-block {
        &__info {
          p {
            &:first-child {
              font-size: 32px;
            }
            &:last-child {
              font-size: 22px;
            }
          }
        }
      }
    }
    .total-info {
      &__section {
        width: 230px;
        height: 130px;
        .description {
          font-size: 20px;
        }
        .digits {
          font-size: 32px;
        }
      }
    }
  }
  .section8 {
    .leader-table {
      transform: scale(1);
      .all-leaders {
        max-height: 570px;
      }
    }
  }
  .section9 {
    .before-start {
      &__timer {
        margin-top: 115px;
        width: 100%;
      }
    }
    .trademarks {
      &__line {
        .trademarks-one {
          img {
            width: 250px;
            height: 120px;
          }
        }
      }
    }
  }
  .section10 {
    .gif-iphone {
      max-width: 600px;
    }
  }
  #clock {
    .flip-clock-divider {
      margin-top: 20px;
    }
    ul {
      height: 100px;
      width: 45px;
      li {
        a {
          .up {
            height: 70px;
            .inn {
              font-size: 50px;
              height: 100px;
            }
          }
        }
      }
    }
  }
  #fp-nav {
    top: 75%;
  }
}
@media screen and (width: 1366px) and (height: 1024px) {
  .section1 {
    background: url("../img/jpg/section-1-bg.jpg");
    #video-bg {
      display: none;
    }
    background-size: cover;
  }
  #mobile-nav-btn {
    display: block;
    width: 50px;
    height: 42px;
    position: fixed;
    z-index: 9990;
    right: 30px;
    top: 54px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 7px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2){
        top: 15px;
      }
      &:nth-child(3){
        top: 30px;
      }
    }
  }
  #mobile-nav-btn.open {
    span {
      &:nth-child(1){
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3){
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .mobile-navigation {
    display: block;
    position: absolute;
    z-index: 8888;
    background: rgba(0,0,0,0.8);
    top: 0;
    width: 100%;
    text-align: center;
    transition: all 0.7s linear;
    ul {
      line-height: 30px;
      margin: 10px 0;
      padding: 0;
      .animation-left {
        &:nth-child(1) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.6s;
        }
        &:nth-child(3) {
          animation-delay: 0.7s;
        }
        &:nth-child(4) {
          animation-delay: 0.8s;
        }
        &:nth-child(5) {
          animation-delay: 0.9s;
        }
        &:nth-child(6) {
          animation-delay: 1s;
        }
        &:nth-child(7) {
          animation-delay: 1.1s;
        }
        &:nth-child(8) {
          animation-delay: 1.2s;
        }
        &:nth-child(9) {
          animation-delay: 1.3s;
        }
        &:nth-child(10) {
          animation-delay: 1.4s;
        }
      }
      li {
        a {
          text-decoration: none;
          color: #fff;
          font: normal 38px "akrobat light";
          letter-spacing: 1px;

        }
      }
    }
  }
  .hide-nav {
    top: -500px;
  }
}
//--iPod styles