//= template/head.html
<div id="preloader">
    <div class="prelogo">
        <p>Идет загрузка</p>
    </div>
</div>
<div class="mobile-navigation hide-nav">
    <ul>
        <li class="animation-left"><a id="link1" href="#page1">Главная</a></li>
        <li class="animation-left"><a id="link2" href="#page2">Специальные цены на товары и услуги</a></li>
        <li class="animation-left"><a id="link3" href="#page3">Вся статистика по твоим шагам</a></li>
        <li class="animation-left"><a id="link4" href="#page4">Достигай большего с друзьями</a></li>
        <li class="animation-left"><a id="link5" href="#page5">Режим GPS тренировки</a></li>
        <li class="animation-left"><a id="link6" href="#page6">Лучшие беговые мероприятия</a></li>
        <li class="animation-left"><a id="link7" href="#page7">Ход компании</a></li>
        <li class="animation-left"><a id="link8" href="#page8">Рейтинги пользователей</a></li>
        <li class="animation-left"><a id="link9" href="#page9">Наши партнеры</a></li>
        <li class="animation-left"><a id="link10" href="#page10">Как стать партнером</a></li>
    </ul>
</div>
<div id="mobile-nav-btn">
    <span></span>
    <span></span>
    <span></span>
</div>
<div id="start-app" class="application-start">
    <div class="popup-content">
        <h4 class="popup-content__title">СПАСИБО!</h4>
        <div class="popup-content__description">Мы оповестим Вас, как только приложение будет запущено!</div>
        <div class="rocket"></div>
        <div class="btn-ok">
            <button class="btn-okay">ОК</button>
            <div class="social-popup">
                <a href="http://vk.com/zealstep" class="social-popup__vk"></a>
                <a href="http://facebook.com/zealstep" class="social-popup__fb"></a>
            </div>
        </div>
        <div class="cancel-popup"></div>
    </div>
</div>
<div id="training-form" class="application-start order-form">
    <div class="popup-content">
        <h4 class="popup-content__title">ЗАКАЗАТЬ ТРЕНИРОВКУ</h4>
        <form id="order-form">

            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="ZEAL STEP">
            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
            <input type="hidden" name="form_subject" value="Заказать тренировку">
            <!-- END Hidden Required Fields -->

            <div class="input-group">
                <input type="text" name="Кто_заказывает" placeholder="Ваше имя*">
            </div>
            <div class="input-group">
                <input class="phone-number" name="Телефон" type="text" placeholder="Телефон*">
            </div>
            <div class="input-group">
                <input type="email" name="Почта" placeholder="Email*" required>
            </div>
            <div class="input-group">
                <textarea class="textarea" type="text" name="Детали" rows="3" placeholder="Укажите место, тип тренировки и примерное кол-во участников *"></textarea>
                <p class="grey-line"></p>
            </div>
            <div class="input-group">
                <button class="go-order">ЗАКАЗАТЬ</button>
            </div>
        </form>
        <div class="cancel-popup"></div>
    </div>
</div>
<div id="thq-pop" class="application-start thq">
    <div class="popup-content">
        <h4 class="popup-content__title">
            СПАСИБО, ЧТО ВЫ ОБРАТИЛИСЬ
            В КОМПАНИЮ ZEAL STEP!
        </h4>
        <div class="popup-content__description">
            Мы свяжемся с вами в ближайшее время
        </div>
        <div class="popup-phone">

        </div>
        <div class="btn-ok">
            <button class="btn-okay">ОК</button>
        </div>
        <div class="cancel-popup"></div>
    </div>
</div>
<div id="advertising-popup" class="application-start order-form advertising">
    <div class="popup-content">
        <h4 class="popup-content__title">РЕКЛАМА МЕРОПРИЯТИЯ</h4>
        <form id="advertising-form">
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="ZEAL STEP">
            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
            <input type="hidden" name="form_subject" value="Реклама мероприятия">
            <!-- END Hidden Required Fields -->

            <div class="input-group">
                <input type="text" name="Кто_рекламирует" placeholder="Ваше имя*">
            </div>
            <div class="input-group">
                <input class="phone-number" name="Телефон" type="text" placeholder="Телефон*">
            </div>
            <div class="input-group">
                <input type="email" name="Почта" placeholder="Email*" required>
            </div>
            <div class="input-group">
                <textarea class="textarea" type="text" name="Детали" rows="3" placeholder="Укажите тип мероприятия, название, место проведения *"></textarea>
                <p class="grey-line"></p>
            </div>
            <div class="input-group">
                <button class="go-order">ЗАКАЗАТЬ</button>
            </div>
        </form>
        <div class="cancel-popup"></div>
    </div>
</div>
<div id="reg1" class="application-start order-form partners-registry">
    <div class="popup-content">
        <h4 class="popup-content__title">РЕГИСТРАЦИЯ ПАРТНЕРА</h4>
        <div class="popup-content__description">Данные компании:</div>
        <form id="partnership-form">
            <div class="input-group">
                <input type="text" name="Название_компании" id="company_name" placeholder="Название компании *">
            </div>
            <div class="input-group">
                <input name="Вид_деятельности" type="text" id="company_type" placeholder="Вид деятельности *">
            </div>
            <div class="input-group">
                <input type="text" name="Место_нахождения" id="company_city" placeholder="Город *">
            </div>
            <div class="input-group">
                <button type="submit" class="nextPartnerForm">ДАЛЕЕ</button>
            </div>
        </form>
        <div class="cancel-popup"></div>
    </div>
</div>
<div id="reg2" class="application-start order-form partners-next">
    <div class="popup-content">
        <h4 class="popup-content__title">РЕГИСТРАЦИЯ ПАРТНЕРА</h4>
        <div class="popup-content__description">Контактная информация:</div>
        <form id="partnership-next">

            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value=" ">
            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
            <input type="hidden" name="form_subject" value="Заявка на партнерство">
            <!-- END Hidden Required Fields -->

            <div class="input-group">
                <input type="text" name="Имя_контакта" id="client_name" placeholder="Имя контактного лица *">
            </div>
            <div class="input-group">
                <input name="Телефон_контакта" class="phone-number" type="text" placeholder="Телефон *">
            </div>
            <div class="input-group">
                <input type="text" name="Город_контакта" id="client_city" placeholder="Город *">
            </div>
            <div class="input-group">
                <input type="email" name="Почта_контакта" id="client_email" placeholder="Ваш Email">
            </div>
            <div class="input-group btn-group">
                <button type="button" class="btn-return">НАЗАД</button>
                <button>ОТПРАВИТЬ</button>
            </div>
        </form>
        <div class="cancel-popup"></div>
    </div>
</div>
<main>
    <div class="logo">
        <a href="#"><img src="img/png/logo.png" alt="Зона Здоровья"></a>
    </div>
    <div class="email-input">
        <form class="start-form start-form1">
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="ZEAL STEP">
            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
            <input type="hidden" name="form_subject" value="Оповестите меня о выходе приложения">
            <!-- END Hidden Required Fields -->
            <input type="email" name="Кого_оповестить" placeholder="Введи E-mail">
            <button class="when-start" type="submit"></button>
        </form>
    </div>
    <div class="social-btn">
        <ul>
            <li><a href="https://www.youtube.com/channel/UCY1YcVAh66_8lnsCXAtGYFQ" target="_blank" class="social social-youtube"></a></li>
            <li><a href="http://vk.com/zealstep" class="social social-vk" target="_blank"></a></li>
            <li><a href="http://facebook.com/zealstep" class="social social-fb" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/zeal_step/" class="social social-insta" target="_blank"></a></li>
        </ul>
    </div>

    <div class="container-fixed-iphone">
        <div class="fixed-iphone" id="iphone">
            <img src="img/png/iphone-big.png" alt="">
            <div class="iphone-slider">
                <!-first page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-1-2.jpg" alt="">
                </div>
                <!-first page-->

                <!-2 page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-2-1.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-2-2.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-2-3.jpg" alt="">
                </div>
                <!-2 page-->

                <!-3 page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-3.jpg" alt="">
                </div>
                <!-3 page-->

                <!-4 page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-4-1.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-4-3.jpg" alt="">
                </div>
                <!-4 page-->

                <!-5 page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-5-2.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-5-3.jpg" alt="">
                </div>
                <!-5 page-->

                <!-6 page-->
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-6-1.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-6-2.jpg" alt="">
                </div>
                <div class="slide-one">
                    <img src="img/jpg/iphone-slide-6-3.jpg" alt="">
                </div>
                <!-6 page-->
            </div>
        </div>
    </div>
    <div class="wrapper" id="fullpage">
        <div class="section section1" data-anchor="page1" id="section1">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone">
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile">
                        <img src="img/jpg/iphone-slide-1-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div id="video-bg">
                <video id="autoplay-bg" autoplay loop muted data-autoplay><!--data-autoplay-->
                    <source src="video/section-1-video.webm" type='video/webm; codecs="vp8, vorbis"'>
                    <source src="video/section-1-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    <source src="video/section-1-video.ogv" type='video/ogg; codecs="theora, vorbis"' >
                </video>
                <div class="black-layer"></div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer" >
                            УМНЫЙ ШАГОМЕР В ТВОЁМ СМАРТФОНЕ
                        </div>
                        <div class="before-start__description">
                            <span class="coin"></span>ПЕРВАЯ ЗОЖ ВАЛЮТА
                        </div>
                    </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="icon animFirstLeft"></div>
                            <div class="description animSecondLeft">
                                ТЫ ДВИГАЕШЬСЯ<br>
                                МЫ ПЛАТИМ
                            </div>
                        </div>
                        <div class="aside-description__right">
                            <div class="icon animFirstRight"></div>
                            <div class="description animSecondRight">
                                КОНВЕРТИРУЙ ШАГИ<br>
                                В ВИРТУАЛЬНУЮ ВАЛЮТУ
                            </div>

                        </div>
                    </div>
                    <div class="free-money">
                        Хочешь скачать приложение бесплатно
                        и получить 20 <span class="coin"></span>  на бонусный счет?
                    </div>
                    <div class="before-start bottom-timer">
                        <div class="before-start__timer" id="timer">
                            <div id="clock">

                            </div>
                        </div>
                        <div class="before-start__description">
                            до запуска приложения осталось
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section2" data-anchor="page2" id="section2">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone" >
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile iphone-mobileS">
                        <img src="img/jpg/iphone-slide-2-1.jpg" alt="">
                        <img src="img/jpg/iphone-slide-2-2.jpg" alt="">
                        <img src="img/jpg/iphone-slide-2-1.jpg" alt="">
                        <img src="img/jpg/iphone-slide-2-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">ЗАРАБАТЫВАЙ ПЕРВУЮ ЗОЖ ВАЛЮТУ</div>
                    </div>
                   <div class="all-marks">
                       <div class="left-marks">
                           <span class="mark dinner-green"></span>
                           <span class="mark label"></span>
                           <span class="mark dinner-orange"></span>
                       </div>
                       <div class="right-marks">
                           <span class="mark vegetables"></span>
                           <span class="mark sport"></span>
                           <span class="mark cosmetic"></span>
                       </div>
                   </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="description">
                                НАХОДИТЕ ЛЮБИМЫЕ<br>
                                ЗАВЕДЕНИЯ НА КАРТЕ<br>
                                ВАШЕГО ГОРОДА
                            </div>

                        </div>
                        <div class="aside-description__right">
                            <div class="description">
                                РАСХОДУЙТЕ <span class="coin"></span><br>
                                НА ТОВАРЫ И УСЛУГИ<br>
                                НАШИХ ПАРТНЕРОВ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section3" data-anchor="page3" id="section3">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone">
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile">
                        <img src="img/jpg/iphone-slide-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            ВСЯ СТАТИСТИКА ПО ТВОИМ ШАГАМ
                        </div>
                    </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="icon_section3 sneakers"></div>
                            <div class="description">
                                ТВОЯ СТАТИСТИКА<br>
                                АКТИВНОСТИ
                            </div>
                        </div>
                        <div class="aside-description__right">
                            <div class="icon_section3"></div>
                            <div class="description">
                                В ВИДЕ КРАСОЧНЫХ<br>
                                ГРАФИКОВ
                            </div>
                        </div>
                    </div>
                    <div class="email-input">
                        <form class="start-form start-form2">
                            <!-- Hidden Required Fields -->
                            <input type="hidden" name="project_name" value="ZEAL STEP">
                            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
                            <input type="hidden" name="form_subject" value="Оповестите меня о выходе приложения">
                            <!-- END Hidden Required Fields -->
                            <input type="email" name="Кого_оповестить" placeholder="Введи E-mail">
                            <button class="when-start2" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section4" data-anchor="page4" id="section4">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone">
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile iphone-mobileS">
                        <img src="img/jpg/iphone-slide-4-1.jpg" alt="">
                        <img src="img/jpg/iphone-slide-4-3.jpg" alt="">
                        <img src="img/jpg/iphone-slide-4-1.jpg" alt="">
                        <img src="img/jpg/iphone-slide-4-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            ДОСТИГАЙ БОЛЬШЕГО С ДРУЗЬЯМИ
                        </div>
                    </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="icon_section4"></div>
                            <div class="description">
                                ОБЩИЙ РЕЙТИНГ<br>
                                АКТИВНЫХ ПОЛЬЗОВАТЕЛЕЙ<br>
                                СО ВСЕЙ РОССИИ
                            </div>
                        </div>
                        <div class="aside-description__right">
                            <div class="icon_section4"></div>
                            <div class="description">
                                ДОБАВЛЯЙТЕ ДРУЗЕЙ,<br>
                                СОЗДАВАЙТЕ СВОИ КЛУБЫ И<br>
                                ГРУППЫ ПО ИНТЕРЕСАМ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section5" data-anchor="page5" id="section5">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone">
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile iphone-mobileS">
                        <img src="img/jpg/iphone-slide-5-2.jpg" alt="">
                        <img src="img/jpg/iphone-slide-5-3.jpg" alt="">
                        <img src="img/jpg/iphone-slide-5-2.jpg" alt="">
                        <img src="img/jpg/iphone-slide-5-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            РЕЖИМ GPS ТРЕНИРОВКИ
                        </div>
                    </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="description">
                                <p class="section5-animation">
                                    ФИКСИРУЙТЕ<br>
                                    ТРЕНИРОВКИ НА КАРТЕ
                                </p>
                                <div class="grey-row"></div>
                                <p class="section5-animation">
                                    ПРОСМАТРИВАЙТЕ ПРОФИЛИ<br>
                                    ДРУГИХ БЕГУНОВ
                                </p>
                            </div>
                        </div>
                        <div class="aside-description__right">
                            <div class="description">
                                <p class="section5-animation">
                                    ПОЛУЧАЙТЕ ПРИЗЫ ОТ НАШИХ<br>
                                    ПАРТНЕРОВ ЗА ДОСТИЖЕНИЯ
                                </p>
                                <div class="grey-row"></div>
                                <p class="section5-animation">
                                    ДЕЛИТЕСЬ ФОТОГРАФИЯМИ<br>
                                    С ДРУЗЬЯМИ
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="run-club">
                        <a href="http://zealrun.ru/" target="_blank">БЕГОВОЙ КЛУБ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section6" data-anchor="page6" id="section6">
            <div class="container-mobile-iphone">
                <div class="fixed-iphone">
                    <img src="img/png/iphone-big.png" alt="">
                    <div class="iphone-mobile iphone-mobileS">
                        <img src="img/jpg/iphone-slide-6-1.jpg" alt="">
                        <img src="img/jpg/iphone-slide-6-2.jpg" alt="">
                        <img src="img/jpg/iphone-slide-6-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-content">
                    <div class="_draggable">
                        <img src="img/jpg/section-6-bg.jpg" alt="" id="drag-bg" class="drag-bg ui-widget-content">
                    </div>
                    <div class="before-start">
                        <div class="before-start__timer">
                            ЛУЧШИЕ БЕГОВЫЕ МЕРОПРИЯТИЯ
                        </div>
                    </div>
                    <div class="aside-description">
                        <div class="aside-description__left">
                            <div class="icon_section4 animation-row"></div>
                            <div class="description ylw-dot animation-row">
                                АНОНСЫ<br>
                                ПОПУЛЯРНЫХ ЗАБЕГОВ
                            </div>
                            <div class="btn-block">
                                <p class="ylw-dot animation-row">
                                    ОРГАНИЗОВЫВАЕТЕ<br>
                                    ЗАБЕГ?
                                </p>
                                <button class="animation-row" id="advertising-start">ПОДАТЬ ЗАЯВКУ</button>
                                <p class="annotation-small animation-row">Мы разместим рекламу вашего мероприятия!</p>
                            </div>
                        </div>
                        <div class="aside-description__right">
                            <div class="icon_section4 animation-row"></div>
                            <div class="description ylw-dot animation-row">
                                РЕГИСТРАЦИЯ НА<br>
                                ЗАБЕГ В ПРИЛОЖЕНИИ
                            </div>
                            <div class="btn-block">
                                <p class="ylw-dot animation-row">
                                    ЗАКАЖИТЕ ТРЕНИРОВКУ ДЛЯ<br>
                                    КОМПАНИИ
                                </p>
                                <button id="give-training" class="animation-row">ЗАКАЗАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-icon">

                    </div>
                    <div class="email-input">
                        <form class="start-form start-form3">
                            <!-- Hidden Required Fields -->
                            <input type="hidden" name="project_name" value="ZEAL STEP">
                            <input type="hidden" name="admin_email" value="m.slyadnev@bk.ru">
                            <input type="hidden" name="form_subject" value="Оповестите меня о выходе приложения">
                            <!-- END Hidden Required Fields -->
                            <input type="email" name="Кого_оповестить" placeholder="Введи E-mail">
                            <button class="when-start3" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section7" data-anchor="page7" id="section7">
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            ХОД КОМПАНИИ
                        </div>
                    </div>
                    <div class="central-block">
                        <div class="total-graphic">
                            <table>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="chart-line"></div>
                            <div class="detail-block">
                                <div class="detail-block__info">
                                    <p>
                                        <span class="counter-numbers" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
                                    </p>
                                    <p>км пройдено</p>
                                </div>
                                <div class="detail-block__info">
                                    <p>
                                        <span class="counter-numbers" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
                                    </p>
                                    <p>всего участников</p>
                                </div>
                                <div class="detail-block__info">
                                    <p>
                                        <span class="counter-numbers" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
                                    </p>
                                    <p><span class="coin"></span>заработано</p>
                                </div>
                            </div>
                        </div>
                        <div class="total-info">
                            <div class="total-info__section">
                                <p class="digits">
                                    <span class="counter-numbers" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
                                    <span class="coin"></span>
                                </p>
                                <p class="description">заработано сегодня</p>
                            </div>
                            <div class="total-info__section">
                                <p class="digits">
                                    <span class="counter-numbers" data-from="0" data-to="320" data-speed="5000" data-refresh-interval="50"></span>
                                </p>
                                <p class="description">км пройдено за день</p>
                            </div>
                            <div class="total-info__section">
                                <p class="digits">
                                    <span class="counter-numbers" data-from="0" data-to="123" data-speed="5000" data-refresh-interval="50"></span>
                                </p>
                                <p class="description">новых участников</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section8" data-anchor="page8" id="section8">
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            ТОП РЕЙТИНГ МЕСЯЦА
                        </div>

                    </div>
                    <div class="leader-table">
                        <div class="animation-row leader-filter">
                            <div class="leader-filter__months">
                                <select name="leader-period" id="leader-period">
                                    <option value="1 months">ИЮНЬ</option>
                                    <option value="2 months">ИЮЛЬ</option>
                                    <option value="3 months">АВГУСТ</option>
                                </select>
                            </div>
                            <div class="leader-filter__type">
                                <button id="type-step" class="type-btn active-type"><span class="shoes"></span>ШАГИ</button>
                                <button id="type-money" class="type-btn"><span class="coin"></span>MONEY</button>
                            </div>
                        </div>
                        <div id="step-leaders" class="visible-leaders all-leaders">
                            <div class="animation-row slow1 all-leaders__one ">
                                <div class="position">
                                    1
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-1.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЕВМЕНОВА ЕВГЕНИЯ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267336</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one">
                                <div class="position">
                                    2
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-2.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ОЛЬГА БРЮЗАНОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267335</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one">
                                <div class="position">
                                    3
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-3.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>КОНДРАТЬЕВА ДИАНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267333</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one">
                                <div class="position">
                                    4
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-4.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЖУКОВА ТАТЬЯНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267332</span>
                                    </p>
                                </div>

                            </div>

                            <div class="animation-row slow1 all-leaders__one">
                                <div class="position">
                                    5
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-5.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ГРИШИНА АННА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267331</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one">
                                <div class="position">
                                    6
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-6.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>НАТАЛЬЯ МАЛКИНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267311</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one">
                                <div class="position">
                                    7
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-7.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ДМИТРИЙ ВЛАДИМИРОВИЧ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267300</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one">
                                <div class="position">
                                    8
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-8.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЮРИЙ ПУХОВ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267000</span>
                                    </p>
                                </div>

                            </div>

                            <div class="animation-row slow1 all-leaders__one hide-leader">
                                <div class="position">
                                    9
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-9.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>СЕВАСТЬЯНОВА НАТАЛИЯ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4260000</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one hide-leader">
                                <div class="position">
                                    10
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-10.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>АННА КУСАИНОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4200000</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one hide-leader">
                                <div class="position">
                                    11
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-11.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЮЛИЯ ПЕТОЕВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4120300</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one hide-leader">
                                <div class="position">
                                    12
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-12.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>МАРИЯ БИРЮКОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4067336</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div id="coin-leaders" class="all-leaders">
                            <div class="animation-row slow1 all-leaders__one ">
                                <div class="position">
                                    1
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-1.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЕВМЕНОВА ЕВГЕНИЯ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267336</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one">
                                <div class="position">
                                    2
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-2.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ОЛЬГА БРЮЗАНОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267335</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one">
                                <div class="position">
                                    3
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-3.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>КОНДРАТЬЕВА ДИАНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267333</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one">
                                <div class="position">
                                    4
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-4.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЖУКОВА ТАТЬЯНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267332</span>
                                    </p>
                                </div>

                            </div>

                            <div class="animation-row slow1 all-leaders__one">
                                <div class="position">
                                    5
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-5.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ГРИШИНА АННА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267331</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one">
                                <div class="position">
                                    6
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-6.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>НАТАЛЬЯ МАЛКИНА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267311</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one">
                                <div class="position">
                                    7
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-7.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ДМИТРИЙ ВЛАДИМИРОВИЧ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267300</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one">
                                <div class="position">
                                    8
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-8.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЮРИЙ ПУХОВ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4267000</span>
                                    </p>
                                </div>

                            </div>

                            <div class="animation-row slow1 all-leaders__one hide-leader">
                                <div class="position">
                                    9
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-9.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>СЕВАСТЬЯНОВА НАТАЛИЯ</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4260000</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow2 all-leaders__one hide-leader">
                                <div class="position">
                                    10
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-10.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>АННА КУСАИНОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4200000</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow3 all-leaders__one hide-leader">
                                <div class="position">
                                    11
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-11.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>ЮЛИЯ ПЕТОЕВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4120300</span>
                                    </p>
                                </div>

                            </div>
                            <div class="animation-row slow4 all-leaders__one hide-leader">
                                <div class="position">
                                    12
                                </div>
                                <div class="photo">
                                    <img src="img/png/leader-12.png" alt="Евменова Евгения">
                                </div>
                                <div class="name-record">
                                    <p>МАРИЯ БИРЮКОВА</p>
                                    <p>
                                        <span class="yellow-shoes"></span>
                                        <span class="leader-record">4067336</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="animation-row current-page">
                            <a href="#" class="active-page">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section9" data-anchor="page9" id="section9">
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            <p>ОНИ ДЕЛАЮТ ВАС ЗДОРОВЕЕ</p>
                            <p>И КРАСИВЕЕ КАЖДЫЙ ДЕНЬ</p>
                        </div>
                    </div>
                    <div class="trademarks">
                        <div class="trademarks__line">
                            <div class="trademarks-one up up1">
                                <img src="img/jpg/best/rexona.jpg" alt="">
                            </div>
                            <div class="trademarks-one up up2">
                                <img src="img/jpg/best/redbull.jpg" alt="">
                            </div>
                            <div class="trademarks-one up up3">
                                <img src="img/jpg/best/adidas.jpg" alt="">
                            </div>
                            <div class="trademarks-one up up4">
                                <img src="img/jpg/best/nike.jpg" alt="">
                            </div>

                            <div class="trademarks-one up up4">
                                <img src="img/jpg/best/nike.jpg" alt="">
                            </div>
                        </div>

                        <div class="trademarks__line">
                            <div class="trademarks-one slow slow1">
                                <img src="img/jpg/best/samsung.jpg" alt="">
                            </div>
                            <div class="trademarks-one slow slow2">
                                <img src="img/jpg/best/bonaqua.jpg" alt="">
                            </div>
                            <div class="trademarks-one slow slow3">
                                <img src="img/jpg/best/mccdonalds.jpg" alt="">
                            </div>
                            <div class="trademarks-one slow slow4">
                                <img src="img/jpg/best/mercedes.jpg" alt="">
                            </div>

                            <div class="trademarks-one slow slow4">
                                <img src="img/jpg/best/mercedes.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section section10" data-anchor="page10" id="section10">
            <div class="content">
                <div class="section-content">
                    <div class="before-start">
                        <div class="before-start__timer">
                            БЕСПЛАТНОЕ СОТРУДНИЧЕСТВО!
                        </div>
                    </div>
                    <div class="central-block">
                        <div class="gif-iphone">
                            <img src="img/gif/Animated_Mockup.gif" alt="">
                        </div>
                        <div class="partnership">
                            <p class="partnership__title">УЗНАЙТЕ О ПРЕИМУЩЕСТВАХ РАБОТЫ С НАМИ</p>
                            <div class="partnership__documents">
                                <button class="partner-reg">РЕГИСТРАЦИЯ ПАРТНЕРОВ</button>
                                <button class="partner-present">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= template/footer.html


